ol {
    font-size: 50px;
    color: aqua;

}

h1 {
    text-align: center;
    font-size: 80px;
}

body {
    background-position-x: center;
    background-position-y: -300px;
    background-image: url("../png/Amongus.png")
}

section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1800px;
    height: 430px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 1000ms;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}