
ul {
    list-style-image:url("png/amongoVerde.png");
}

/* li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1px;
    text-align: right;
} */

body {
    font-size: 3rem;
    background-color: #914fc388;
    background: linear-gradient(to bottom right, red, blue,rgb(102, 177, 102),rgb(102, 102, 61),purple);
    background-image:url("./png/Amongus.png");
    
    background-position: top center;
}

a:hover {
    color: red;

    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;

}

a:active {
    font-size: 2rem;
    font-style: italic;
}

/* CLASES */

.piola{
    border-left: 800px;
    border-top: 800px;
    border-right: 800px;
    border-color:rgb(25, 22, 22) ;
    border-width: 80px;
    padding: 90px;
    color: rgb(98, 0, 255);
    font-weight: 90;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: auto;
    padding: auto;
    
}

#sexo:hover{
    text-decoration: dotted;
    text-transform: blink;
}
/* Definición de la animación */
@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Aplicación de la animación al elemento */
  .elemento-parpadeante {
    animation: parpadeo 1s ease-in-out infinite;
  }
  