* {
  margin: 0;
  border: 0;
}

ul {
  list-style-image: url("png/amongoVerde.png");
}

/* li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1px;
    text-align: right;
} */

body {
  font-size: 2rem;
  background-color: #914fc388;
  background: linear-gradient(to bottom right, red, blue, rgb(102, 177, 102), rgb(102, 102, 61), purple);
  background-image: url("./png/Amongus.png");

  background-position: top center;
  background-color: rgb(214, 186, 153);
}

#nav {
  padding: 30px;
  background-color: #97963388;
}

nav {
  text-align: center;
  text-shadow: 1px 2px 4px rgba(3, 0, 156, 0.5);
  ;
}

a {
  margin-right: 50px;
}

a:hover {
  color: rgb(70, 95, 141);
  /* font-weight: 900; */
  /* font-family: Arial, Helvetica, sans-serif; */
}
#medio {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#flex {
  display: flex;
  margin: 40px;
}

a:active {
  font-size: 2rem;
  font-style: italic;
}

/* CLASES */

.piola {
  background-color: rgb(248, 205, 153);
  margin: auto;
  /* position: relative; */
  border-style: groove;
  border-color: rgb(214, 170, 88);
  border-width: 80px;
  padding: 90px;
  color: rgb(0, 0, 0);
  font-weight: 90;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: auto;
  padding: auto;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);

}

#sexo:hover {
  text-decoration: dotted;
  text-transform: blink;
}

/* Definición de la animación */
@keyframes parpadeo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Aplicación de la animación al elemento */
.elemento-parpadeante {
  animation: parpadeo 1s ease-in-out infinite;
}